
    body {
        margin: 0;
        padding: 0;
        background-color: rgb(232, 226, 226);
      }

    .parent {
      position: relative;
    }
  
    .child1_slideshow {
      position: relative;
      top: 0px;
      left: 0px;
    }

    .fading {
      animation:fading 2s 
    }
  @keyframes fading{
    0%{opacity:0.75}
    100%{opacity:1}
  }

  .flexbox {
    display: flex;
    height: 0px;
  }

  h1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 8em;
    color: rgb(220, 20, 50);
    z-index: 2;
    margin-top: -1.1em;
    text-shadow: 2px 2px 4px #e5e5e5;
  }  


  .child2_nav{
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: rgb(220, 20, 50);
    width: 100%;
    height: 5em;
    }
  
      nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
          }
  
      nav {
        float: right;
        margin: 0;
      }
  
      li {
        display: inline;
        padding: 20px;
      }
  
      nav a {
        text-decoration: none;
        color: #353535;
        display: inline-block;
        padding-top: .6em;
        font-size: 2em;
      }
  
      nav a:hover {
        color: #00b2b2;
      }
  
      nav a:active {
        font-weight: bold;
      }
  
      .bild {
        display: block;
        width: 100%;
        height: auto;
        z-index: 0;
      }

      hr.rounded1 {
        border-top: 8px solid crimson;
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 5em;
      }
      hr.rounded2 {
        border-top: 8px solid crimson;
        margin-left: 5em;
        margin-right: 5em;
        margin-bottom: 5em;
      }

      .child3_widget {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 2em;
      }

      table {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
      .widgeticons {
        margin-top: -3em;
      }
      .uebersicht {
        margin-top: -.5em;
        font-size: 2em;
      }
      .uebersicht2 {
        margin-top: -.5em;
        font-size: 2em;
      }

      .child4_text {
        background-color: rgb(232, 226, 226);
      }

      .paragraph{
        display: flex;
        flex-direction: row;
        justify-content : center;
        align-items: center;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        height: 40em;
        width: 120em;
      }

      .p_picture {
        float: left;
        padding-left: 0em;
        padding: 5em;
      }

      .paragraph_picture {
        height: 30em;
      }

      .p_text{
        float: left;
        font-size: 1.5em;
        padding-top: 2em;
        padding-left: 2.5em;
      }

      footer {
        display: block;
        padding-top: 3em;
      }
      footer p {
        display: inline-block;
        padding-left: 2em;
      }

/*
.paragraph{
  display: block;
  flex-direction: row;
  width: 100%;
  justify-content : center;
  align-items: start;
  
}

.p_picture {
  display: inline-block;
  padding-left: 10em;
}

.p_text{
  display: inline-block;
  font-size: 2em;
  margin-top: 0px;
  padding-top: 0px;
}
*/


      @media screen and (max-width: 1400px) {
        h1 {
          font-size: 5em;
        }  

        .child2_nav {
          height: 3em;
          }

        nav a {
            padding-top: .4em;
            font-size: 1.5em;
          }

          .child3_widget {
            margin-top: 2em;
          }
          .widgeticons {
            margin-top: -2em;
            height: 7em;
          }
          .uebersicht {
            margin-top: -.5em;
            font-size: 1.5em;
          }
          .uebersicht2 {
            margin-top: -.5em;
            font-size: 1.5em;
          }
      }

      @media screen and (max-width: 1050px) {
        h1 {
          font-size: 3em;
        } 

        .child2_nav {
          height: 2em;
          }

        nav a {
            padding-top: .35em;
            font-size: 1em;
          }

          .child3_widget {
            margin-top: 2em;
          }
          .widgeticons {
            margin-top: -1em;
            height: 4em;
          }
          .uebersicht {
            margin-top: -.5em;
            font-size: 1em;
          }
          .uebersicht2 {
            margin-top: -.5em;
            font-size: 1em;
          }
          
      }

      @media screen and (max-width: 730px) {
        nav {
          width: 100%;
          margin-top: -5px;
        }
  
        nav li {
          display: block;
          background-color: #e5e5e5;
          text-align: center;
        }
       }
  
      * {
        font-family: Montserrat, sans-serif;
      }
  
  
  